<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.dylanmcguire.afitar" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.microsoft.band.service.access.BIND_BAND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ConfirmConnectionActivity" >
        </activity>
        <activity android:name=".SplashActivity" >
        </activity>
        <activity android:name=".MainActivity" >
        </activity>
        <activity
            android:name=".AfitarActivity"
            android:label="@string/title_activity_afitar"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".StatsActivity" >
        </activity>
        <activity android:name=".MonitorActivity" >
        </activity>
        <activity android:name=".BattleActivity" >
        </activity>
        <activity android:name=".UpdateSleepActivity" >
        </activity>
        <activity android:name=".UpdateFoodActivity" >
        </activity>
        <activity android:name=".UpdateExerciseActivity" >
        </activity>
        <activity android:name=".UpdateMedsActivity" >
        </activity>
        <activity android:name=".UpdateMoodActivity" >
        </activity>
        <activity android:name=".EnterMoodActivity" >
        </activity>
        <activity
            android:name=".ViewHistoryActivity"
            android:label="@string/title_activity_view_history"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".ExerciseAlreadyActivity" >
        </activity>
        <activity android:name=".DisplayResultActivity" >
        </activity>
    </application>

</manifest>
